extends ../layout

block content
  .row
    .col-lg-12
      form(action='/deck/createDeck', method='post')
        .input-group
          input.form-control(type='text', name='title', placeholder='Enter New Deck Name')
          span.input-group-btn
            button.btn.btn-default(type='submit') Create Deck!

      ul
        each val, index in cards
          li= cards[index].id + ' ' + cards[index].front
