extends ../layout

block content
  h1=title.title
  h4 Create New Card:
  .row
    .col-lg-12
      form(action='/deck/new', method='post')
        .input-group
          span#basic-addon1.input-group-addon Front:
          input.form-control(type='text', aria-describedby='basic-addon1')
          span#basic-addon1.input-group-addon Back:
          input.form-control(type='text', aria-describedby='basic-addon1')
          span.input-group-btn
            button.btn.btn-default(type='submit') Create!


  ul
    each val, index in cards
      li= cards[index].id + ' ' + cards[index].front
