body {
  padding-top: 70px;
}

.deck .toggle-wrapper {
  display: none;
}

.deck .edit {
  height: 70px;
}

.panel-heading {
  background-color: black;
  border: none;
}

.panel-footer {
  background-color: white;
  border: none;
}

.navbar {
  background-color: lightblue;
}

.btn i {
  padding-left: 3px;
}
