body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.deck .edit {
  height: 17px;
}

.deck .delete {
  height: 17px;
}

.deck .toggle-wrapper {
  display: none;
}
