.navbar {
  background-color: lightblue;
}
.deck .toggle-wrapper {
  display: none;
}

.deck .edit {
  height: 70px;
}

.panel-heading {
  background-color: black;
  border: none;
}

.panel-body {
  padding-bottom: 0;
}

.panel-footer {
  background-color: white;
  border: none;
}

.show-cards {
  padding-top: 10px;
}

.btn i {
  padding-left: 3px;
}

/*body {
  padding-top: 70px;
}*/
