extends ../layout

block content
  h1 Edit/New Card
  form(action='/cards/new', method='post')
    div
      label(for='front') Front:
      input#title(type='text', name='front')
    div
      label(for='back') Back:
      input#title(type='text', name='back')
    .button
      button(type='submit') Create Card
