extends ../layout

block content
  h1 Create New Deck
  form(action='/decks/new', method='post')
    div
      label(for='title') Title:
      input#title(type='text', name='title')
    .button
      button(type='submit') Create Deck
  ul
    each val, index in cards
      li= cards[index].id + ' ' + cards[index].front
