extends ../layout

block content
  each deck, index in decks
    if( index % 3 === 0 && index !== 0 )
      .row

    .col-md-4
      .panel.panel-default.deck(data-id=deck.id)
        .panel-heading
          h3.panel-title= deck.title
        .panel-body
          | 3 cards
        .panel-footer
          .edit
            .toggle-wrapper
              a(href=`/decks/edit/${deck.id}`) Edit
                i.glyphicon.glyphicon-pencil

    if( index % 3 === 0 && index !== 0 )
      .row
